
$danger: hsl(348, 100%, 61%);
$warning: hsl(48, 100%, 67%);
$info: hsl(204, 86%, 53%);

.alert {
  padding: 10px;
  border-radius: 5px;

  .alert-title {
    font-weight: bold;
  }

  &.info {
    border: 1px solid $info;
    color: $info;
    background-color: hsl(205, 100%, 95%);
  }
  
  &.warning {
    border: 1px solid darken($warning, 20%);
    color: black;
    background-color: $warning;
  }

  &.danger {
    border: 1px solid $danger;
    color: $danger;
    background-color: hsl(0, 100%, 95%);
  }
}

.no-box-shadow {
  img {
    box-shadow: none !important;
  }
}

.project-card {
  border-bottom: 1px solid #dedede;
  background-color: #f5f5f5;
  border-radius: 0.2rem;
  padding: 0.25rem;
  margin-bottom: 1.25rem;

  header {
    display: flex;
    justify-content: space-between;

    .project-title {
      padding-left: 0.25rem;
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }

    h3 {
      margin: 0.25rem;
    }

    .icon-list {
      display: flex;
      gap: 0.7rem;
      align-items: center;
      font-weight: bold;
    }

    .other-tech {
      font-family: monospace;
      background-color: #dedede;
      padding: 0 0.25rem;
      border-radius: 0.2rem;
    }
  }

  p {
    margin: 1rem 0 0 0;
    line-height: 1.5;
    padding: 0 0.5rem;
  }

  ul {
    margin: 0.25rem;
  }
}